*{
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.background-section-two {
  background-image: url(../images/backgroundmeio1.jpg);
  background-attachment:fixed;
  background-size: cover;
  background-repeat: no-repeat; 
}

.section-container {
  width: 100%;
}


.button {
  background-color: #199e9e;
  color: #ffff;
  height: 2rem;
  display: inline-flex;
  align-content: center;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem 'DM Sans', sans-serif;
  font-weight: bold;
  transition: background 0.3s;
  position: relative;
  bottom: 115px;
  left: 65%;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #000;
  
}

.tabela {
  font-size: 20px;
  width: 80%;
  border: 1px solid black;
  position: relative;
  bottom: 60px;
  left: 10%;
}
#bemvindo {
  position: relative;
  bottom: 80px;
  text-align: center;
  font-size: 30px;
}

#logo {
 padding: 15% 20% 0% 10%;
 position: relative;
 bottom: 100px;

}

footer{
 padding: 15px;
  height: 150px;
  text-align: center;
  background-color: #000;
  background-size: cover;
  color: #ffff;
  background-size: cover;
}